.main {
  font-family: Helvetica, sans-serif;
  color: #656565;
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: 2px solid;
  margin-bottom: 20px;
  
}

h1 {
  font-size: 40px;
  padding: 40px;

}

h2 {
  font-size: 26px;
  text-align: right;
}

p, footer {
  font-size: 14px;
  font-family: Georgia, serif;
  font-style: italic;
  text-align: left;
  padding: 10px;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

img {
  border: 2px solid;
}

a {
  color: #656565;
}

#bigimage {
  width: 80%;
}
