.main {
  font-family: Helvetica, sans-serif;
  color: #656565;
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 20px;
  
}

h1 {
  font-size: 40px;
  padding: 40px;

}

h2 {
  font-size: 26px;
  text-align: right;
  border-bottom: 2px solid;
}

p, footer {
  font-size: 14px;
  font-family: Georgia, serif;
  font-style: italic;
  text-align: left;
  padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 5px; 
}

img {
  border: 2px solid;
}

a {
  color: #656565;
}

nav {
    padding-bottom: 5px; 
}

#nav {
    display: flex;
    justify-content: space-between;
    padding-left: 6em;
    padding-right: 6em;
}

#bigimage {
  width: 80%;
}

.clothing {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#clothing-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

#clothing-container img {
    border: none;
}

#map {
    width:80%;
    margin: auto;
    max-width: 500px;
}

#contact-page p {
    text-align: center;
    padding: 0;
}

@media only screen and (max-width: 400px)  {
    #clothing-container {
        flex-direction: column;
    }

    .clothing {
        width: 50%;
        margin: auto;
    }
}